# GCP Landing Zone — ignore patterns

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/tfplan
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars

# Secrets
*.json
!configs/*.yaml
credentials/
.secrets/

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Logs
*.log
plan.txt
